<ion-header>
  <ion-toolbar>
    <ion-title>Etapas do projeto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let etapa of etapas | async">
      <ion-item-options expandable side="end">
        <ion-item-option expandable color="danger" (click)="excluir(etapa)">
          Excluir Etapa
        </ion-item-option>
      </ion-item-options>
      <ion-item detail="true" href="/etapa/{{etapa._id}}" routerDirection="forward" button="true">
        <ion-label>
          <h2>{{etapa.titulo}}</h2>
          <p>{{etapa.descricao}}</p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="adicionar()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>